* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: DM Sans, Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background: none;
  border: none;
}

.btn {
  --backgound-color: hwb(233 80% 0%);
  cursor: pointer;
  outline: none;
  background-color: var(--backgound-color);
  border: 2px solid hwb(from var(--backgound-color) h w 70);
  padding: .5rem .75rem;
  border-radius: .5rem;
  &:hover {
    --backgound-color: hwb(233 80 5);
  }
  &:active {
    --backgound-color: hwb(233 80 10);
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}